*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
 background-color: #d8dee6 !important;  /* fallback for old browsers */
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 padding-left: 12px;
 border-radius: 5px;
 border: solid 0.1px #d8dee6;// BlueGray
}

textarea {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 10.5px;
  outline: none;
  line-height: 1.6;
  resize: vertical;
}

blockquote {
  padding: .25em 0 .25em .75em;
  border-left: 3px solid #778899;
}

pre {
  　font-size: 12px;
    color: #2F4F4F;
    background-color: #F5F5F5;
    border-radius: 3px;
    padding: 12px;
}

#main {
  margin-top:20px;
  margin-bottom:20px;
}

.input {
  background: #eee;
  height: 100%;
  width:100%;
}

.output {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.functions {
  border-radius: 5px;
}
